/* CSS Reset */

body{
    font-family: 'Baloo Bhaina 2', cursive;
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


/* Utility classes */

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}


/* Navigation Bar */

#navbar{
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%; 
    z-index: -1;
    opacity: 0.81;
}

#navbar img{
    width:81px;
    height:90px;
    margin:4px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;
    padding: 0px;      
}

#navbar ul li {
    list-style: none;
    margin-bottom: 7px;
}

#navbar ul li a{
    color:whitesmoke;
    display: block;
    border-radius: 12px;
    font-size: 1.18rem;
    text-decoration: none;
    margin: 19px;
}

#navbar ul li a:hover{
    color:black;
    background-color: palegoldenrod;
}


/* About section */

#about{
    font-family:'Baloo Bhaina 2', cursive ;
    font-weight:900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 610px;
}

#about::before{
     content:"";
     background:url('fruit-salads-in-plate.jpg') no-repeat  center/cover;
     width:100%;
     height:640px;
     position: absolute;
     top:0px;
     left:0px;
     z-index:-2;
     opacity:0.72;
}

#btn{
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color:firebrick;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

#btn:hover{
    background-color:maroon;
}
#btn a{
    color: honeydew;
    text-decoration: none;
}


/* menu.html */

#menu{
    display:flex;
    justify-content:space-around;
    align-items: center;
} 

#menu::before{
    content:"";
    background: url('salad.jpg') no-repeat center center/cover;
    width:100%;
    height: 900px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
    opacity:0.81;
}

#logo{
    display:flex;
    width: 100%;
}

#logo img{
    width:81px;
    height:auto;
    margin:4px;
}

.menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 690px;
    width: 100%;
    border-radius: 20px;
    margin: 6px;
    background-color: rgb(194, 189, 189);
    margin-bottom: 40px;
}

.menu-box:hover{
    transition: background-color 0.5s ease-in;
    background-color:rgb(141, 141, 108);
 }


.menu-headings{
    color: rgb(255, 251, 251);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(92, 136, 136);
}

#mh{
    display: block;
    width: auto;
    margin-left: 20px;
    /* color: whitesmoke; */
    text-shadow: 1px 2px rgb(102, 95, 95);
}

.menu-box img{
    height: 150px;
    width: 81%;
    max-width: 900px;
    margin-bottom: 6px;
}

.menu-box a{
    font-size: 1.2rem;
    padding: 6px;
    text-align: center;
}

.menu-box p a{
    font-size: 2.4rem;
}

.menu-box button{
    border-radius: 10px;
    font-size: 1.1rem;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
    padding: 4px;
}

.menu-box button:hover{
background-color: rgb(78, 122, 118);
color: honeydew;
}

.menu-box button a{
    text-decoration: none;
    color: black;
}

.menu-box button a:hover{
    color: honeydew;
}


/* order.html */

#order::before{
    content:"";
    background: url('fruits-bg.jpg') no-repeat center center/cover;
    width:100%;
    height: 770px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
}

#logo img{
    height: 130px;
    width: auto;
}

#order h2{
    font-size: 1.5rem;
    color: maroon;
    text-align: center;
    text-shadow: -1px -1px rgb(102, 95, 95);
}

#order-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#order-form input{
    width: 90%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

/* #order-form{
    width: 40%;
} */

.form-group input[type='submit']{
    margin-top:1rem;
}

.form-group input[type='submit']:hover{
    color:white;
    background-color: maroon;
}


/* Services section*/

#services{
    position: relative;
}

#services::before{
    content:"";
    background: url('berries-on-black.jpg') no-repeat center center/cover;
    width:100%;
    height: 782px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
    opacity:0.9;
}

#service-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 640px;
    width: 380px;
    border-radius: 20px;
    margin:20px;
    text-align: center;
    background-color: rgb(209, 234, 235);
}

#box1 img{
    height: 150px;
    width:220px;
}

#box2 img{
    height: 150px;
    width:220px;
}

#box3 img{
    height: 163px;
    width:150px;
}


/* Clients section */

#clients{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clients::before{
    content:"";
    background: url('wood.jpg') no-repeat center center/cover;
    width:100%;
    height: 500px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
    opacity:0.81;
}

#client-img img{
    height:340px;
}

/* Contact us section*/

#contact{
    position: relative;
    color: white; 
    height:670px;
}

#contact::before{
    content: "";
    background: url('pancake.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.81;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

.form-group{
    margin: 3px;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}  


/* Copyright section */

#footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    position: relative;
    bottom: 0px; 
}
